<div class="container">
  <div class="ordem-compra">
    <form novalidate>
    
      <h5>Dados de entrega</h5>

      <div class="form-row">

        <div class="form-group col-md-6">
          <input 
            type="text" 
            class="form-control {{ enderecoEstadoPrimitivo ? '' : (endereco.length > 3 ? 'is-valid' : 'is-invalid') }}" 
            placeholder="Endereço" 
            #inputEndereco
            (input)="atualizaEndereco(inputEndereco.value)"
            autocomplete="off" 
            [value]="endereco"
            minlength="5" 
            require 
          >

          <!-- MENSAGEM AMIGAVEL -->
          <!-- <div *ngIf="enderecoEstadoPrimitivo == false">
            <div *ngIf="endereco.length > 5; else validEndereco">
              <small class="form-text text-success">Ok</small>
            </div>
            <ng-template #validEndereco>
              <div class="form-text text-danger">Endereço inválido</div>
            </ng-template>
          </div> -->
          
        </div>

        <div class="form-group col-md-2">
          <input type="text" 
            class="form-control {{ numeroEstadoPrimitivo ? '' : (numero.length != 0 ? 'is-valid' : 'is-invalid') }}" 
            [value]="numero" 
            #inputNumero
            (input)="atualizaNumero(inputNumero.value)"
            placeholder="Número" 
            autocomplete="off" 
            minlength="1" 
            required
            maxlength="2"
          >

          <!-- MENSAGEM AMIGAVEL -->
          <!-- <div *ngIf="numeroEstadoPrimitivo == false">
            <div *ngIf="numero.length != 0;else numeroValid">
              <small class="form-text text-success">Ok</small>
            </div>
            <ng-template #numeroValid>
              <div class="form-text text-danger">numero inválido</div>
            </ng-template>
          </div> -->

        </div>

        <div class="form-group col-md-4">
          
          <input type="text" 
            class="form-control {{ complementoEstadoPrimitivo ? '' : (complemento.length > 0 ? 'is-valid' : '') }}"
            [value]="complemento" 
            #inputComplemento
            (input)="atualizaComplemento(inputComplemento.value)"
            placeholder="Complemento" 
            autocomplete="off"
          >

          <!-- MENSAGEM AMIGAVEL -->
          <!-- <div *ngIf="complementoEstadoPrimitivo == false">
            <div *ngIf="complemento.length > 5;else complementoValid">
              <small class="form-text text-success">Ok</small>
            </div>
            <ng-template #complementoValid>
              <div class="form-text text-danger">complemento inválido</div>
            </ng-template>
          </div> -->

        </div>

      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">
        
        <div class="col-3">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Selecione uma forma de pagamento</label>
            <select #selectFormaPagamento (change)="atuaizaFormaPagamento(selectFormaPagamento.value)" 
              class="form-control {{ formaPagamentoEstadoPrimitivo ? '' : (formaPagamento.length != 0 ? 'is-valid' : 'is-invalid') }}" 
              id="exampleFormControlSelect1">
              <option disabled >Selecione uma opção</option>
              <option value="dinheiro" selected="{{ formaPagamento == 'dinheiro' ? 'selected' : '' }}">Dinheiro</option>
              <option value="debito" selected="{{ formaPagamento == 'debito' ? 'selected' : '' }}">Débito</option>
            </select>
            

            <!-- MENSAGEM AMIGAVEL -->
            <!-- <div class="invalid-feedback">Selecione uma forma de pagamento</div>
            <div *ngIf="formaPagamentoEstadoPrimitivo == false">
              <div *ngIf="formaPagamento.length != 0;else validFormaPagamento">
                <small class="form-text text-success">Ok</small>
              </div>
              <ng-template #validFormaPagamento>
                <div class="form-text text-danger">Forma de Pagamento invalida</div>
              </ng-template>
            </div> -->

          </div>
        </div>
      </div>

      <hr />
      <!-- [disabled]="validaform" -->
      <button type="submit"  class="btn btn-primary btn-lg">Cofirmar compra</button>
    </form>
  </div>
</div>